//Colors-Variables

$firstColor: #54e6af;
$secondColor: #2c344b;
$thirdColor: #121725;
$fourthColor: #ffffff;
$fifthColor: #5a668a;
$sixthColor: #c2cbe5;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  h1 {
    text-transform: uppercase;
    font-size: 5.2rem;
    line-height: 6.2rem;
    font-weight: 300;
    color: $firstColor;
    span {
      color: $fourthColor;
    }
  }
  p {
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: $sixthColor;
  }
  font-family: "Chivo", sans-serif;
  margin: 0;
  padding: 0;
}

//Button

button {
  text-transform: capitalize;
  border: none;
  width: 16.2rem;
  height: 4.6rem;
  background: $firstColor;
  border-radius: 3rem;
  margin-bottom: 5.5rem;
  color: $thirdColor;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 2.8rem;
}
button:hover {
  background: #b3ffe2;
}

body {
  display: flex;
  flex-direction: rows;
  align-items: flex-start;
  // justify-content: space-around;
  // justify-items: flex-start;
  background: $thirdColor;
  width: 144rem;
  height: 90rem;

  h1 {
    margin-top: 9.1rem;
  }
  .card {
    .email {
      input {
        width: 42.7rem;
        height: 5.6rem;
        border-radius: 3rem;
        background: $secondColor;
        border: none;
        color: $fourthColor;
        padding-left: 3rem;
      }
      input:focus {
        outline: none;
      }
      button {
        position: absolute;
        right: 42%;
        top: 75.5%;
      }
    }

    background: $thirdColor;
    width: 72.3rem;
    height: 50.9rem;
    position: absolute;
    left: 10%;
    // padding-top: 10rem;

    bottom: 10%;
    p {
      margin-top: 3.4rem;
      padding-right: 28.5rem;
      margin-bottom: 4.5rem;
    }
    .sponser {
      width: 53.6rem;
      height: 2.9rem;
      display: flex;
      justify-content: space-around;
      justify-items: auto;
      position: absolute;
      bottom: 0;

      .google {
        margin-top: 0.5rem;
        width: 12.5rem;
        height: 1.8rem;
      }
      .apple {
        width: 7.8rem;
        height: 2.9rem;
      }
      .spotify {
        width: 9.6rem;
        height: 2.9rem;
      }
      .pocket {
        width: 12.9rem;
        height: 2.6rem;
      }
    }
  }
  .main-image {
    position: absolute;
    right: -1%;
    bottom: 10%;
  }
  .dots {
    position: absolute;
    right: 0;
    bottom: 5%;
  }
  .logo {
    position: absolute;
    top: 15%;
    left: 10%;
  }
}
